[Unit]
Description=Setup for BBB pins

[Service]
Type=simple
ExecStart=/bin/bash /home/debian/boneIO/GPIOSetup/GPIOSetup.sh

[Install]
WantedBy=multi-user.target
